<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span6 offset3">
                    <form method='POST' class="well">
                        <div class='input-append'>
                            <input type="text" name="username" placeholder="Enter your skype username" class='span4'>
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type='text/javascript' src='js/bootstrap.js'></script>
    </body>
</html>
