<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span6 offset3">
                    <div class="hero-unit">
                        <h1>Skypebot</h1>
                        <p>This form allows you to start up a new skype chat for your project. Enter your skype username below and you will recieve a contact request or message from the GitHub (incubator) user. Follow the commands this user sends to you and any commits pushed to your repository will be reported in the skype channel.</p>
                    </div>
                    <form method='POST' class="well">
                        <div class='input-append'>
                            <input type="text" name="username" placeholder="Enter your skype username" class='span4'>
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type='text/javascript' src='js/bootstrap.js'></script>
    </body>
</html>
